.action-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__search-input {
    width: 280px;
    @media(max-width: 492px) {
      width: 220px;
    }
    @media(max-width: 448px) {
      width: 100%;
    }
  }

  &__search-by {
    margin-left: 10px;
    width: 140px;
    @media(max-width: 448px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__action-btns {
    display: flex;
    width: 260px;
    transform: translateY(-26%);
    @media(max-width: 448px) {
      width: 100%;
      justify-content: center;
    }
  }
}

.mat-cell {
  padding: 20px 20px 20px 0;
}

.mat-row:hover .mat-cell {
  background-color: var(--hover-background);
  cursor: pointer;
}