.row {
  display: grid;
  grid-auto-flow: row dense;
  gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}

.employee {

  &__form-container {
    display: block;
    padding-top: 20px;
  }

  &__input {
    width: 280px;

    &:nth-child(1), &:nth-child(3), &:nth-child(4) {
      margin-right: 20px;
    }
  }

  &__footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__isActive {
    transform: translateX(4px);
    margin-right: 14px;
  }

  &__reset-btn {
    margin-right: 20px;
  }

}

// IPS

.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}

.row-2 {
  display: grid;
  grid-auto-flow: row dense;
  gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}