<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="profile_img-icon mat-elevation-z10">edit</mat-icon>
        </div>
        <mat-card-title >Edit</mat-card-title>
        <mat-card-subtitle>There you can change basics properties of employee</mat-card-subtitle>
      </mat-card-header>
      <div class="divider-accent"></div>
  
      <mat-card-content>
        <div class="employee__form-container">
          <mat-form-field appearance="outline" class="employee__input">
            <mat-label>Username</mat-label>
            <input maxlength="12" matInput placeholder="Username" [(ngModel)]="usernameValue" (ngModelChange)="employeeProfilePropertyChanged()">
            <button *ngIf="usernameValue" matSuffix mat-icon-button aria-label="Clear" (click)="usernameValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="employee__input">
            <mat-label>First name</mat-label>
            <input maxlength="12" matInput placeholder="First name" [(ngModel)]="firstNameValue" (ngModelChange)="employeeProfilePropertyChanged()">
            <button *ngIf="firstNameValue" matSuffix mat-icon-button aria-label="Clear" (click)="firstNameValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div></div>
          <mat-form-field appearance="outline" class="employee__input">
            <mat-label>Last name</mat-label>
            <input maxlength="14" matInput placeholder="Last name" [(ngModel)]="lastNameValue" (ngModelChange)="employeeProfilePropertyChanged()">
            <button *ngIf="lastNameValue" matSuffix mat-icon-button aria-label="Clear" (click)="lastNameValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="employee__input">
            <mat-label>Email</mat-label>
            <input maxlength="30" matInput placeholder="Email" [(ngModel)]="emailValue" (ngModelChange)="employeeProfilePropertyChanged()">
            <button *ngIf="emailValue" matSuffix mat-icon-button aria-label="Clear" (click)="emailValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-checkbox class="employee__isActive" [(ngModel)]="isActive" (ngModelChange)="employeeProfilePropertyChanged()">Is active</mat-checkbox>
        <mat-checkbox class="employee__ipVerification" [(ngModel)]="ipVerification" (ngModelChange)="employeeProfilePropertyChanged()">IP Verification</mat-checkbox>
  
      </mat-card-content>

      <mat-card-footer class="employee__footer">
        <div class="employee_left-btns">
          <button mat-raised-button color="accent" class="employee__reset-btn" (click)="handleResetValues()">Reset</button>
          <button mat-raised-button color="warn" (click)="handleDelete()">Delete employee</button>
        </div>
        <button mat-raised-button color="primary" appDebounceClick (debounceClick)="saveChanges()">Save changes</button>
      </mat-card-footer>
  
    </mat-card>
  
    <app-employee-profile-previewer *ngIf="modifiedEmployee" [employee]="modifiedEmployee"></app-employee-profile-previewer>
  </div>

</div>

<!-- IPS & LOGS -->
<div class="container">
  <div class="row">
    <mat-card class="ips__container">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="profile_img-icon mat-elevation-z10">verified_user</mat-icon>
        </div>
        <mat-card-title >Verified IPs</mat-card-title>
        <mat-card-subtitle>Find employee and manage his verificated connections</mat-card-subtitle>
      </mat-card-header>

      <div class="divider-accent"></div>

      <mat-card-content>
        <div class="table-container">
          <table mat-table [dataSource]="dataVerificatedIPs" class="table-small mat-elevation-z8">
      
            <ng-container matColumnDef="ip">
              <th mat-header-cell *matHeaderCellDef> IP </th>
              <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>
      
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" aria-label="Delete verified IP" (click)="openConfirmDeleteIPsDialog(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsOfVerificatedIPs"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOfVerificatedIPs;"></tr>
          </table>
        </div>
      </mat-card-content>

    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="profile_img-icon mat-elevation-z10">history</mat-icon>
        </div>
        <mat-card-title >Employee logs</mat-card-title>
        <mat-card-subtitle>All logged operations maked by this employee</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <app-employee-logs class="test"></app-employee-logs>
      </mat-card-content>
    </mat-card>

  </div>
</div>