<div class="employeeCreator">
  <h2 mat-dialog-title>Employee creator</h2>
  <div class="divider-accent"></div>

  <mat-dialog-content [showIfWidthBetween]="[900,10000]" class="employeeCreator__content">
    <mat-stepper linear #stepper class="employeeCreator__stepper">

      <mat-step>
        <div class="employeeCreator__step">
          <ng-template matStepLabel>Base data</ng-template>

          <div class="employeeCreator__form-container">
            <mat-form-field appearance="outline" class="employeeCreator__input">
              <mat-label>First name</mat-label>
              <input matInput [(ngModel)]="firstNameValue" (ngModelChange)="inputValueChanged()" placeholder="First name">
            </mat-form-field>
  
            <div class="margin-between"></div>
  
            <mat-form-field appearance="outline" class="employeeCreator__input">
              <mat-label>Last name</mat-label>
              <input matInput [(ngModel)]="lastNameValue" (ngModelChange)="inputValueChanged()" placeholder="Last name">
            </mat-form-field>
          </div>
        </div>

      </mat-step>

      <mat-step>
        <div class="employeeCreator__step">
          <ng-template matStepLabel>Authorization</ng-template>
          <div class="employeeCreator__twoCols">
            <div class="employeeCreator__form-container-2">
  
              <mat-form-field appearance="outline" class="employeeCreator__input">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="passwordValue" (ngModelChange)="inputValueChanged()" placeholder="Password">
              </mat-form-field>
  
              <div class="margin-between"></div>
  
              <mat-form-field appearance="outline" class="employeeCreator__input">
                <mat-label>Repeat password</mat-label>
                <input matInput type="password" [(ngModel)]="repeatPasswordValue" (ngModelChange)="inputValueChanged()" placeholder="Repeat password">
              </mat-form-field>
            </div>
  
            <div class="employeeCreator__rightSide-container">

              <mat-form-field appearance="outline" class="employeeCreator__input">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="usernameValue" (ngModelChange)="inputValueChanged()" placeholder="Username">
              </mat-form-field>
  
              <div class="margin-between"></div>
              <mat-form-field appearance="outline" class="employeeCreator__input">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="emailValue" (ngModelChange)="inputValueChanged()" placeholder="Email">
              </mat-form-field>
  
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Preview</ng-template>
          <div class="employeeCreator__centered">
            <app-employee-profile-previewer [employee]="employee"></app-employee-profile-previewer>
          </div>
      </mat-step>

    </mat-stepper>
  </mat-dialog-content>

  <mat-dialog-content [showIfWidthBetween]="[100,900]" class="employeeCreator__content">
    <p>This view is allowed only on desktop devices</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!isCreateButtonActive" (click)="handleCreate()">Create</button>
  </mat-dialog-actions>
</div>