.employeeCreator {

  &__content {
    margin-top: 20px;
    min-height: 380px;
  }

  &__stepper {
    background-color: transparent;
  }

  &__form-container {
    display: flex;
    margin-top: 20px;
  }

  &__form-container-2 {
    display: block;
    width: 50%;
  }

  &__input {
    width: 240px;
  }

  &__twoCols {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__centered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.propertyName {
  color: var(--primary-color);
}