.password-changer {
  &__input-container {
    display: flex;
    justify-content: space-between;
    @media(max-width: 468px) {
      display: block;
    }
  }
  &__input {
    width: 30%;
    @media(max-width: 468px) {
      width: 100%;
    }
  }
}