<div class="container">

  <div class="row">
    <mat-card class="card-el_1">
      <mat-card-header>
        <div mat-card-avatar>
          <img [src]="profileImg" *ngIf="profileImg" width="46px" height="46px" class="profile_img mat-elevation-z10" alt="" />
        </div>
        <mat-card-title >Your profile</mat-card-title>
        <mat-card-subtitle>To configure your account use widgets</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div class="employeeData-container">
        <p><span class="employeeData-item">UUID:</span> {{ employeeData?._id }}</p>
        <p><span class="employeeData-item">First name:</span> {{ employeeData?.first_name }}</p>
        <p><span class="employeeData-item">Last name:</span> {{ employeeData?.last_name }}</p>
        <p><span class="employeeData-item">Username:</span> {{ employeeData?.username }}</p>
        <p><span class="employeeData-item">email:</span> {{ employeeData?.email }}</p>
        <div class="divider-accent"></div>
        <p><span class="employeeData-item">Role:</span> {{ employeeData?.role }}</p>
        <p><span class="employeeData-item">Is active:</span> {{ employeeData?.isActive }}</p>
        <p><span class="employeeData-item">Created by:</span> {{ employeeData?.created_by }}</p>
        <p><span class="employeeData-item">Created at:</span> {{ employeeData?.created_at }}</p>
      </div>
    </mat-card>
  

    <mat-card class="card-el_2">
      <app-profile-ips-details></app-profile-ips-details>
    </mat-card>

  </div>

  <div class="row-2 row-spacer">

    <mat-card class="card-el_3">
      <app-profile-image></app-profile-image>
    </mat-card>

    <mat-card class="card-el_4">
      <app-profile-password-changer></app-profile-password-changer>
    </mat-card>

  </div>
</div>