@mixin row-setter {
  display: grid;
  grid-auto-flow: row dense;
  gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
}

.row {
  @include row-setter;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.row-2 {
  @include row-setter;
  grid-template-columns: repeat( auto-fit, minmax(320px, auto) );
}

.employeeData {
  &-container {
    margin-top: 20px;
  }

  &-item {
    color: var(--accent-color);
    margin-right: 5px;
  }
}

p {
  margin-bottom: 4px;
}

.divider-accent {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-spacer {
  margin-top: 40px;
}