.row {
  display: flex;
  justify-content:
  space-between;
}

.card {
  &-el_1 {
    width: 60%;
  }

  &-el_2 {
    width: 32%;
  }

  &-el_3 {
    width: 32%;
  }

  &-el_4 {
    width: 60%;
  }
}

mat-card-content {
  padding-top: 10px;
}

.employeeData {
  &-container {
    margin-top: 20px;
  }

  &-item {
    color: var(--accent-color);
    margin-right: 5px;
  }
}

.password-changer {
  &__input-container {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    width: 30%;
  }
}

p {
  margin-bottom: 4px;
}

.divider-accent {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-spacer {
  margin-top: 40px;
}