<div class="mat-typography">
  <div *ngIf="isLoggedIn">
    <app-nav-toolbar></app-nav-toolbar>
    <div class="page__container">
      <app-nav-drawer>
        <div class="router__container">
          <router-outlet *ngIf="isLoggedIn">
          </router-outlet>
        </div>
      </app-nav-drawer>
    </div>
  </div>

  <router-outlet *ngIf="!isLoggedIn">
  </router-outlet>

  <app-loading-screen *ngIf="isLoadingSpinnerActive"></app-loading-screen>
  <app-toast-message></app-toast-message>
  <app-footer></app-footer>
</div>