<mat-card-title>Change your password</mat-card-title>
<mat-card-subtitle>Type new password to change it</mat-card-subtitle>
<mat-divider></mat-divider>

<mat-card-content>
  <div class="password-changer__input-container">
    <mat-form-field appearance="outline" class="password-changer__input">
      <mat-label>Current password</mat-label>
      <input matInput type="password" placeholder="Current password" [(ngModel)]="passwordValue" (ngModelChange)="passwordInputChanged()">
    </mat-form-field>
    <mat-form-field appearance="outline" class="password-changer__input">
      <mat-label>New password</mat-label>
      <input matInput type="password" placeholder="New password" [(ngModel)]="newPasswordValue" (ngModelChange)="passwordInputChanged()">
    </mat-form-field>
    <mat-form-field appearance="outline" class="password-changer__input">
      <mat-label>Repeat new password</mat-label>
      <input matInput type="password" placeholder="Repeat new password" [(ngModel)]="newPasswordRepeatValue" (ngModelChange)="passwordInputChanged()">
    </mat-form-field>
  </div>
  <button [disabled]="!passwordChangerBtnIsActive" mat-raised-button color="primary" (click)="handleEmployeePasswordChanger()">Accept</button>
</mat-card-content>