<button mat-button aria-label="Account management" [matMenuTriggerFor]="menu">
  <span class="btn__username" [showIfWidthBetween]="[900,10000]">{{ firstName }} {{ lastName }}</span>
  <img [src]="profileImg" *ngIf="profileImg" width="42px" height="42px" class="profile_img mat-elevation-z10" alt="" />
</button>
<mat-menu #menu="matMenu" xPosition="before" class="collaping-menu">
  <button mat-menu-item (click)="handleLogout()"><mat-icon color="primary">logout</mat-icon>logout</button>
  <button mat-menu-item [routerLink]="['employees/profile']"><mat-icon color="primary">manage_accounts</mat-icon>profile</button>
  <button mat-menu-item><mat-icon color="primary">settings</mat-icon>settings</button>
</mat-menu>