<button mat-button aria-label="Account management" [matMenuTriggerFor]="menu">
  <span class="btn__username">{{ username }}</span>
  <img [src]="imageToShow" *ngIf="!isImgLoading && !displayDefaultImage" width="42px" height="42px" class="profile_img mat-elevation-z10" alt="" />
  <img src="../../../../assets/images/default_profile.png" *ngIf="displayDefaultImage" width="42px" height="42px" class="profile_img mat-elevation-z10" alt="" />
</button>
<mat-menu #menu="matMenu" xPosition="before" class="collaping-menu">
  <button mat-menu-item (click)="handleLogout()"><mat-icon color="primary">logout</mat-icon>logout</button>
  <button mat-menu-item [routerLink]="['employees_management/profile']"><mat-icon color="primary">manage_accounts</mat-icon>profile</button>
  <button mat-menu-item><mat-icon color="primary">settings</mat-icon>settings</button>
</mat-menu>