.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

mat-card-content {
  margin-top: 20px;
  display: flex;
  width: 420px;
  justify-content: space-between;
  flex-wrap: wrap;
  @media(max-width: 480px) {
    width: 100%;
  }
}

mat-form-field {
  @media(max-width: 480px) {
    width: 100%;
  }
}

mat-card-footer {
  padding: 15px;
  display: flex;
  justify-content: flex-end;

  & button:nth-child(1) {
    margin-right: 20px;
  }
}