@import './assets/scss/variables.scss';
@import './assets/scss/autocomplete.scss';
@import './assets/scss/scrollbar.scss';
@import './assets/scss/tables.scss';

body {
  background-color: #131929;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 20px;
}

.divider-accent {
  background-color: var(--accent-color);
  width: 120px;
  height: 3px;
}

.margin-between {
  margin-left: 5px;
  margin-right: 5px;
}

.profile_img {
  border-radius: 50%;
}

.profile_img-icon {
  border-radius: 50%;
  font-size: 46px;
  height: 46px;
  width: 46px;
}

.textIcon-btn {
  display: flex;
  align-items: center;
}
